<!DOCTYPE html> 
<html ng-app="LoggApp" lang="eng">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>AplApp</title>
        <!-- Bootstrap -->
        <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="design/css.css" rel="stylesheet">
    </head>
    <body>
        <div style="margin: auto; margin-top: 50px; min-width: 250px; max-width: 250px;">
            <div style="background-color: #4ce875" class="well text-center" ng-controller="urlCtrl">
                 <p>Ange "elev", "lärare" eller "handledare" som användarnamn för
                    att se hur sidan ser ut för de olika aktörerna!
                </p>
                <br/>
                  <input ng-model="loginname" type='text' placeholder='Användarnamn'>
                <br/><br/>
                <input type='password' placeholder='Lösenord'>
                <br/><br/>
                <a id="glöm" href="#">Glömt lösenord?</a>
                <a ng-click="changeUrl()" class="btn btn-primary" ng-href="{{urlValue}}">Login</a>
                <br/> 
            </div>
        </div>
        <footer>
            <div id="footer">
                <p class="alignleft">Support: 0123-456789</p>
                <p class="alignright">support&#64;utb.vaxjo.se</p>
            </div>
        <div style="clear: both;"></div>
    </footer>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- Own javascript files -->
    <script src="js/loggapp.js"></script>
</body>
</html>
