/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-nov-10, 14:45:56
    Author     : hanneslinner
*/

#background{
    background-color: #F5FEFF;
}
#jumbotron{
    background-color: #bce8f1; 
}
#well{
    background-color: #F9FfFF;
}
#well2{
    background-color: #bce8f1;
}