<br><br><br>
<div class="container">
    <div class="row" style=" height: 400px;">
        <div class="col-lg-4 col-md-4 col-sm-6" style=" max-width: 350px;">
            <div class="well" style="height: 300px;">
                <form>
                    <h3>Redigera användare</h3>
                    <label>Elev</label>
                    <select>
                        <option>Kalle</option>
                        <option>Lasse</option>
                        <option>Bosse</option>
                        <option>Pelle</option>
                    </select>
                    <label>Klass</label>
                    <select>
                        <option>Te15b</option>
                        <option>SA11f</option>
                        <option>EE27e</option>
                        <option>IT14c</option>
                        <option>BF11c</option>
                    </select>
                    <br>
                    <input placeholder="För- och efternamn"/>
                    <br>
                    <input placeholder="Klass"/>
                    <br>
                    <input placeholder="Email"/>
                    <br>
                    <input placeholder="Lärare"/>
                    <br>
                    <input placeholder="Handledare"/>
                    <br><br>
                    <button class="btn btn-default">Spara</button>
                </form>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6" style=" max-width: 350px;">
            <div class="well" style="height: 300px;">
                <form>
                    <h3>Lägg till ny användare</h3>
                    <input placeholder="För- och efternamn"/>
                    <br>
                    <input placeholder="Klass"/>
                    <br>
                    <input placeholder="Email"/>
                    <br>
                    <input placeholder="Lärare"/>
                    <br>
                    <input placeholder="Handledare"/>
                    <br><br>
                    <button class="btn btn-default">Spara ny användare</button>
                </form>
            </div>
        </div>
    </div>
</div>