
<div class="jumbotron" id="jumbotron">
        <div class="container">
            <h1>APL <small> Elevsida</small></h1>
        <nav>
                    
            <ul class="nav nav-tabs">
                <li role="presentation" ui-sref-active="active"><a ui-sref="startsida">Start</a></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref="readLoggs">Loggbok</a></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref="postLogg">Rapporter</a></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref="kontakt">Kontakt</a></li>
                <li class="navbar-right" role="presentation" ui-sref-active="active"><a ui-sref="">Logga ut</a></li>
                <li class="dropdown navbar-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mina sidor <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Min sida</a></li>
                  <li><a href="#">Meddelande</a></li>
                  <li><a href="#">Inställningar</a></li>
                </ul>
              </li>
                
            </ul>
            <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#content-nav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
              
                    </div>
        </nav>
            
    </div>
    </div>