<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                APL
            </a>
            <button class="navbar-toggle" 
                    data-toggle="collapse" data-target="#nav-content">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="nav-content">
            <ul class="nav navbar-nav">
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref="oversikt">Översikt</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref="meddela">Meddela</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref="narvaro">Närvaro</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref="loggbocker">Loggböcker</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref="moment">Moment</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref="kontakt">Kontakt</a>
                </li>
            </ul>
            <a href="#logout" class="navbar-right navbar-text navbar-link ">Logga Ut</a>
            <p class="navbar-text navbar-right">Lärar Sida</p>
        </div>
    </div>
</nav>