<div class="container">
    <div class="row">
        <br/><br/><br/><br/>
        <h2>Välkommen till Loggboken handledare!</h2>
        <p>Här kan det kanske stå något härligt personligt när man kommer in på sidan?</p>
                <br/>
               
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Skola<span class="caret"></span>
            </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
  
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Klass<span class="caret"></span>
            </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Elev<span class="caret"></span>
            </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            <button class="btn btn-primary">Välj</button>
                    </div>
        </div>
                 </br>
    <br/>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="well" id="well" style="border-style: groove">
                
                <!-- FEM STYCKEN INLÄGG -->
                <div class="alert alert-info" id="alert" style="border-style: ridge;">
                    
                    <h4 style="color: #000000">< Elevnamn kommentar ><small>< Datum ></small></h4>
                    <p style="color: black">At nec vitae accommodare, reque disputationi mei ne, dicam maluisset sed ei. Viris epicuri eam eu, id ius ancillae posidonium conclusionemque. At mei diceret molestie. An ipsum aliquip sit. Qui erant causae in, cu inermis eligendi ius.</p>
                    <br/><br/>
                <div class="form-group">
                        <input type="text"  class="form-control" value="Skriv din kommentar...">
                        <button type="button" class="btn btn-default">Kommentera</button>
                        <button type="button" class="btn btn-default active">Visa kommentarer (1)</button>
                     
                </div>
                    <div class="alert alert-link well" style="border-style: ridge"> <h4 id="h4">< Kommenterares namn > <small>< Datum ></small></h4>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus luctus dolor a tincidunt. Mauris finibus, libero vel congue laoreet, lacus sem consequat mi, eget egestas ligula dolor ac diam. Phasellus molestie malesuada erat, id aliquet ligula elementum ac. Etiam molestie aliquam felis, eu aliquet magna feugiat id. Maecenas pharetra mauris a orci mattis pretium
                        </p>
                    </div>
                        </div>
                </div>
                <div class="alert alert-info" id="alert" style="border-style: ridge">
                   <h4 style="color: #000000">< Elevnamn kommentar ><small>< Datum ></small> </h4>
                    <p style="color: black">At nec vitae accommodare, reque disputationi mei ne, dicam maluisset sed ei. Viris epicuri eam eu, id ius ancillae posidonium conclusionemque. At mei diceret molestie. An ipsum aliquip sit. Qui erant causae in, cu inermis eligendi ius.</p>
                    <img src="bild.jpg" alt="shit">
                    <br/><br/>
                <div class="form-group">
                    <input type="text"  class="form-control" value="Skriv din kommentar...">
                    
                    <button type="button" class="btn btn-default">Kommentera</button>
                    <button type="button" class="btn btn-default">Visa kommentarer (2)</button>
                  
                </div>
                </div>
                <div class="alert alert-info" id="alert" style="border-style: ridge">
                    <h4 style="color: #000000">< Elevnamn kommentar ><small>< Datum ></small> </h4>
                    <p style="color: black">At nec vitae accommodare, reque disputationi mei ne, dicam maluisset sed ei. Viris epicuri eam eu, id ius ancillae posidonium conclusionemque. At mei diceret molestie. An ipsum aliquip sit. Qui erant causae in, cu inermis eligendi ius.</p>
                    <br/><br/>
                <div class="form-group">
                        <input type="text"  class="form-control" value="Skriv din kommentar...">
                        <button type="button" class="btn btn-default">Kommentera</button>
                        <button type="button" class="btn btn-default">Visa kommentarer (4)</button>
                     
                </div>
                </div>
                <div class="alert alert-info" id="alert" style="border-style: ridge">
                    <h4 style="color: #000000">< Elevnamn kommentar ><small>< Datum ></small> </h4>
                    <p style="color: black">At nec vitae accommodare, reque disputationi mei ne, dicam maluisset sed ei. Viris epicuri eam eu, id ius ancillae posidonium conclusionemque. At mei diceret molestie. An ipsum aliquip sit. Qui erant causae in, cu inermis eligendi ius.</p>
                    <br/><br/>
                <div class="form-group">
                        <input type="text"  class="form-control" value="Skriv din kommentar...">
                        <button type="button" class="btn btn-default">Kommentera</button>
                        <button type="button" class="btn btn-default">Visa kommentarer (1)</button>
                   
                </div>
                </div>
                <div class="alert alert-info" id="alert" style="border-style: ridge">
                    <h4 style="color: #000000">< Elevnamn kommentar ><small>< Datum ></small></h4>
                    <p style="color: black">At nec vitae accommodare, reque disputationi mei ne, dicam maluisset sed ei. Viris epicuri eam eu, id ius ancillae posidonium conclusionemque. At mei diceret molestie. An ipsum aliquip sit. Qui erant causae in, cu inermis eligendi ius.</p>
                    <br/><br/>
                <div class="form-group">
                        <input type="text"  class="form-control" value="Skriv din kommentar...">
                        <button type="button" class="btn btn-default">Kommentera</button>
                        <button type="button" class="btn btn-default active">Visa kommentarer (3)</button>
                    
                </div>
                    <div class="alert alert-link well" style="border-style: ridge"> <h4 id="h4">< Kommenterares namn > <small>< Datum ></small></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus luctus dolor a tincidunt. Mauris finibus, libero vel congue laoreet, lacus sem consequat mi, eget egestas ligula dolor ac diam. Phasellus molestie malesuada erat, id aliquet ligula elementum ac. Etiam molestie aliquam felis, eu aliquet magna feugiat id. Maecenas pharetra mauris a orci mattis pretium
                        </p>
                    </div>
                    <div class="alert alert-link well" style="border-style: ridge"> <h4 id="h4">< Kommenterares namn > <small>< Datum ></small></h4>
                        <p>Etiam molestie aliquam felis, eu aliquet magna feugiat id. Maecenas pharetra mauris a orci mattis pretium
                        </p>
                    </div>
                    <div class="alert alert-link well" style="border-style: ridge"> <h4 id="h4">< Kommenterares namn > <small>< Datum ></small></h4>
                        <p>Mauris finibus, libero vel congue laoreet, lacus sem consequat mi, eget egestas ligula dolor ac diam. Phasellus molestie malesuada erat, id aliquet ligula elementum ac. Etiam molestie aliquam felis, eu aliquet magna feugiat id. Maecenas pharetra mauris a orci mattis pretium
                        </p>
                    </div>
                </div>
                <link class="glyphicon glyphicon-arrow-down" style="color: black">
            </div>
        </div>         
</div>
    </div>