<div class="container">
    <div class="jumbotron">
        <h1>Moment:</h1>
    </div>
    <table class='table table-bordered table-striped'>
        <tr>
            <td><div class="col-lg-7 ">Lorem Ipsum on lihtsalt proovitekst, mida kasutatakse printimis- ja ladumistööstuses.</div></td>
            <td><div class="col-lg-3 "><button class="btn btn-success">Redigera</button></div></td>
        </tr>
        <tr>
            <td><div class="col-lg-7 ">Lorem Ipsum on lihtsalt proovitekst, mida kasutatakse printimis- ja ladumistööstuses.</div></td>
            <td><div class="col-lg-3 "><button class="btn btn-success">Redigera</button></div></td>
        </tr>
        <tr>
            <td><div class="col-lg-9 "></div></td>
            <td><div class="col-lg-3 "><button class="btn btn-success">Lägg till ny</button></div></td>
        </tr>
    </table>
</div>
