<style>
tr{
    width: 500px
}
td{
    height: 50px;
}
table, td, tr, th{
    border: 1px solid black;
}
table{
    width: 90%;
}
</style>
<div class="container">
    <div class="jumbotron">
        <h1>Närvaro:</h1>
    </div>
    <select>
        <option>Te15b</option>
        <option>SA11f</option>
        <option>EE27e</option>
        <option>IT14c</option>
        <option>BF11c</option>
    </select>
<table >
    <tr>
        <th>Namn</th>
        <th>Närvarotid</th>
        <th>Giltig Frånvarotid</th>
    </tr>
    <tr>
        <td>
            Peter
        </td>
        <td>
            10:45
        </td>
        <td>
            3:15
        </td>
    </tr>
    <tr>
        <td>
            Rasmus
        </td>
        <td>
            11:30
        </td>
        <td>
            2:30
        </td>
    </tr>
    <tr>
        <td>
            Lina
        </td>
        <td>
            5:00
        </td>
        <td>
            9:00
        </td>
    </tr>
    <tr>
        <td>
            Hilda
        </td>
        <td>
            14:00
        </td>
        <td>
            0:00
        </td>
    </tr>
    </table>
</div>