<div class="container">
    <div class="jumbotron">
        <h1>Närvaro:</h1>
    </div>
    <input type="date">
    <input type="time"> - 
    <input type="time">
    <br>
    <button class="btn btn-success">Lägg till närvaro</button>
    <br><br>
    <input type="date">
    <input type="time"> - 
    <input type="time">
    <br>
    <button class="btn btn-warning">Lägg till Sjukdom</button>
    <br><br>
    <input type="date">
    <input type="time"> - 
    <input type="time">
    <br>
    <button class="btn btn-danger">Lägg till frånvaro</button>
</div>