<div class="container">
    <div class="jumbotron">
        <h1>Närvaro:</h1>
    </div>
<table border="1px">
    <tr>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            HEj!
        </td>
        <td>
            HEj!
        </td>
    </tr>
    <tr>
        <td>
            HEj!
        </td>
        <td>
            HEj!
        </td>
        <td>
            HEj!
        </td>
        <td>
            HEj!
        </td>
    </tr>
    <tr>
        <td>
            HEj!
        </td>
        <td>
            HEj!
        </td>
        <td>
            HEj!
        </td>
        <td>
            HEj!
        </td>
    </tr>
    <tr>
        <td>
            HEj!
        </td>
        <td>
            HEj!
        </td>
        <td>
            HEj!
        </td>
        <td>
            HEj!
        </td>
    </tr>
    </table>
</div>