<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" ><h2>Tidslinje</h2> 
            <div class="well" id="well">
                <div class="alert alert-info"><h4 style="color: #000000">Elevkommentar:</h4>
                          <div><h6>2015-11-05 09:00         <---->           2015-11-05 15:00</h6>
                              </div>
                              <p style="color: black">At nec vitae accommodare, reque disputationi mei ne, dicam maluisset sed ei. Viris epicuri eam eu, id ius ancillae posidonium conclusionemque. At mei diceret molestie. An ipsum aliquip sit. Qui erant causae in, cu inermis eligendi ius.</p>
                          <a href="" class="btn-default btn btn-sm"><p style="font-size: small; color: #122b40">Kommentera</p></a></div>
                <div class="alert alert-info"><h4 style="color: #000000">Elevkommentar:</h4><h6>2015-10-17 12:00          <---->          2015-10-07 15:00</h6><p style="color: black">Et qui exerci commodo maluisset. Ius id omittantur comprehensam, ei vix probo sapientem. Saepe eligendi ex nec, mei eu debet legendos. Est modus partem inciderint ut, ad iusto consul definiebas quo.</p><img src="bild.jpg" class="img-thumbnail" alt="shit">
                        <br/><br/><a href="" class="btn-default btn btn-sm"><p style="font-size: small; color: #122b40">Kommentera</p></a></div> 
                <div class="alert alert-success"><h4 style="color: #000000">Elevkommentar:</h4><h6>2015-10-10 08:00          <---->          2015-10-10 14:00</h6><p style="color: black">Legimus constituam nec cu. Est quas omittantur ex, no sed partem nemore. Summo omnesque elaboraret per ei. Congue mediocritatem usu ut.</p>
                      <a href="" class="btn-default btn btn-sm"><p style="font-size: small; color: #122b40">Kommentera</p></a></div>
                      <link class="glyphicon glyphicon-arrow-down" style="color: black">
                  </div>
          </div>
    </div>
</div>