<div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Välkommen till APL</h2>
                <p>Startsida för Apl appen</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div id="well" class="well">
                        
                        <div class="well" id="well2">
                            <div class="alert alert-info" role="alert"><h5>Meddelande från:</h5>2015-10-26<p>Legimus constituam nec cu. Est quas omittantur ex, no sed partem nemore. Summo omnesque elaboraret per ei. Congue mediocritatem usu ut.</p></div>
                        <div class="alert alert-info" role="alert">...</div>
                        <div class="alert alert-warning" role="alert">...</div>
                        <div class="alert alert-success" role="alert">Congrats</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>